* {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
  margin: 15px;
}

.header {
  display: flex;
  background-color: rgb(126, 13, 126);
  width: 70%;
  height: 200px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 7px 7px 10px grey;
  margin: auto;
  flex-wrap: wrap;
  /* sığmayan olursa aşşağı göndermeye yarar responive tasarım için */
}

.logo {
  width: 170px;
  height: 120px;
}

ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
